---
layout: default
---
<div class="post">

	{% if page.headline %}
	<article class="post-content">
	<figure>
		<img src="{{ page.headline }}" id="view"/>
	</figure>
	{% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  <!--   <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

  <nav class="post-list">
    {% for post in site.posts %}
    
    	<div class="project-item">
    		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}#view">
	          <img src="{{ post.thumbnail }}" align="center" />
	          <h3>{{ post.title }}</h3>
	        </a>
		</div>
    {% endfor %}
  </nav>
